<form class="p-2" action="/post" method="POST">
    <h1>Create a new Blog Post</h1>
    <input type="text" id="title" name="title" placeholder="Title">
    <input type="text" id="text" name="text" placeholder="Text">
    <button type="submit">Submit</button>
</form>