<form class="p-2" action="/auth/login" method="POST">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>
<a href="/signup">Not a User? Signup here.</a>