<form class="p-2 d-flex flex-column align-items-center " action="/post" method="POST">
    <h1>Create a new Blog Post</h1>
    <input class="p-2 m-2 w-25" type="text" id="title" name="title" placeholder="Title">
    <textarea class="p-2 m-2 w-25" type="text" id="text" name="text" placeholder="Text"></textarea>
    <button class="p-2 m-2 w-25" type="submit">Submit</button>
</form>