<form class="p-2" action="/auth/signup" method="POST">
    <p>Please enter a username and create a password.</p>
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
</form>